body{
    margin:0;
    padding:0;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    width:100vw;
}

.emoji{
    --size:200px;
height:var(--size);
width:var(--size);  
margin:10px;
}
.head{
    --bgc:#FFC83D;
    background-color:var(--bgc);
    height:var(--size);
    width:var(--size); 
    border-radius:60%; 
    position:relative;
    overflow:hidden;
    z-index:-3;
}
.eyes{
position:absolute;
top:calc(var(--size) * .25);
left:calc(var(--size) * .5);

}
.eye{
    position:absolute;
    height:calc(var(--size) * .13);
    width:calc(var(--size) * .06);
    background-color: black;
    border-radius:50%;
}
.leye{
position:absolute;
left:calc(var(--size) * -0.2);

}
.reye{
    right:calc(var(--size) * -0.2);

}
.smile{
    --mouth-height:calc(var(--size) * .3);
    position:absolute;
    transform:translateX(-50%);
    height:var(--mouth-height);
    width:calc(var(--size) * .6);
bottom:calc(var(--size) * .15);
    left:calc(var(--size) * .5);
    border-radius:5% 5% var(--mouth-height) var(--mouth-height);

background-color: black;
}
.mouth{
    position:absolute;
    transform:translateX(-50%);
    bottom:calc(var(--size) * .15);
    left:calc(var(--size) * .5);
}
.mouth-open{
    
    
    height:calc(var(--size) * .25);
    width:calc(var(--size) * .20);

border-radius:50%;
background-color: black;
}
.mask{
    --mouth-height:calc(var(--size) * .3);
    position:absolute;
    transform:none;
    height:var(--mouth-height);
    width:calc(var(--size) * .5);
bottom:calc(var(--size) * .15);
    left:calc(var(--size) * .25);
border-radius:10%;
background-color:white;
border: calc(var(--size) * .02) solid #999;  
}
.l{
position:absolute;
border: calc(var(--size) * .02) solid #999;  
width:calc(var(--size) * .5);
height:calc(var(--size) * .04);
background-color: #fff;
top:-30px;
z-index:-2;

}
.l1{
    transform:rotate(20deg);
    top:calc(var(--size) * -.05);
    left:calc(var(--size) * -.4);
}
.l2{
    transform:rotate(-20deg);
    top:calc(var(--size) * -.05);
    right:calc(var(--size) * -.4);
}
.l3{
    transform:rotate(-20deg);
    top:calc(var(--size) * .25);
    left:calc(var(--size) * -.4);
}
.l4{
    transform:rotate(20deg);
    top:calc(var(--size) * .25);
    right:calc(var(--size) * -.4);
}